---
import { LayoutDock } from "@/components/LayoutDoc";
import { Footer } from "@/components/Footer";

type Props = { lang?: string };
const { lang = "en" } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jossdz 2026</title>
  </head>
  <body class="bg-shadow-grey">
    <div class="min-h-screen w-full">
      <slot />
      <Footer client:load />
      <LayoutDock lang={lang} client:load />
    </div>
  </body>
</html>
